# Virtual environment
.venv/
venv/
env/

# Executable and batch files
*.exe
*.bat
Activate.ps1
activate
deactivate

# Database
*.db

# VS Code
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Distribution
dist/
build/
*.egg-info/